.navbar{
  color: var(--fg-color);
  background-color: var(--bg-color);
  display: flex;
  flex:row;
  text-align:center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 0.5rem;

}

.navbar__links{
  display: none;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap:0.7em;
  font-weight: 600;
}

.navbar__icon{
  display: none;
}

.navbar__home:hover,
.navbar__icon:hover,
.navbar__links li:hover{
   background: -webkit-linear-gradient(var(--pink-color), var(--mauve-color));
   background-clip:  text;
   -webkit-text-fill-color: transparent;
   cursor:pointer;
}

li > button{
  color:var(--fg-color);
}

.mobile__container{
  display: none;
}

.mobile__links{
  z-index: 2;
  display: flex;
  position: absolute; 
  min-width:100%;
  min-height: 100vh;
  background-image: var(--primary-gradient-bg);
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__icon{
  position: relative;
  z-index: 3;
  &:hover{
    cursor:pointer;
    color:var(--pink-color);
  }
}

.mobile__links li{
  padding: 2rem;
  font-size: 2em;
  color:var(--grey--color);
}

@media(min-width: 1025px){
  .navbar__links{
    display: flex;
  }

  .navbar__icon{
    display: block;
  }
}

@media(max-width: 1025px){
  .mobile__container{
    display: block;
  }
}
