.details__container {
  position: relative;
  display: grid;
  grid-column: 1fr;
  place-items: center;
  background: var(--bg-color);
  height: 95%;
  width: 90%;
  font-size: 1.225em;
  border-radius: var(--radius);
  padding: 0.5em;
  gap: 0.5em;
  overflow-y:auto;
  overflow-x:hidden;
  scrollbar-width: 0.5em;
  scrollbar-color: var(--fg-color) var(--bg-color);
}

.details__close {
  position: absolute;
  right:0.1em;
  top:0.1em;
  font-size: 1.5em;
}

.details__close button {
  color: var(--fg-color);
}
.details__close:hover button{
  color: var(--red-color);
}

.details__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.details__description {
  text-align:center;
  width: 70%;
}

.details__image__src {
  width: 70%;
  height: 70%;
}

.details__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 12rem;
}

.details__links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--tertiary-gradient-bg);
  color: var(--bg-color);
  width: 40%;
  height: 2.5rem;
  border-radius: var(--radius);
  text-decoration: none;
}

.details__tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 720px) {
  .details__container {
    width: 95%;
    gap:0.2em;
  }

  .details__links {
    gap: 6rem;
  }

  .details__links a {
    width: 8rem;
  }
}

@media (max-width: 375px) {
  .details__container {
    height: 80%;
  }

}

.details__container::-webkit-scrollbar {
    width: 0.5em;
}

.details__container::-webkit-scrollbar-thumb {
    background-color: var(--fg-color);
    border-radius: 5px;
}

.details__container::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}
