.tag{
  display: flex; 
  justify-content:center;
  align-items: center;
  text-align: center;
  background-color: var(--grey-color);
  color:var(--bg-color);
  min-height:fit-content;
  margin: 5px;
  min-width: 8.5rem;
  height: 2.2rem;
  padding-left:0.525rem;
  padding-right:0.525rem;
  border-radius: var(--radius);
  width: fit-content;
  text-align:center;
  gap:0.3em;
}
.tag__icon{
  height: 50%;
  width: fit-content;
}
