.tech__wrapper {
  padding-top: 1.5em;
}

.list__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
  place-items: center;
  gap: 1rem;
  padding: 1em;
}

.icons__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--radius);
  margin: 0 2em;
  background-color: var(--crust);
  padding: 3.5em;
  transition-duration: 300ms;

  &:hover {
    box-shadow: 0 0 4px 4px var(--pink-color);
  }
}

.icons__wrapper h2 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.icons__tech {
  height: 10rem;
  width: 10rem;

}

@media(max-width: 320px) {
  .icons__wrapper h2 {
    margin-bottom: 0.5em;
  }
}
