.modal__open{
  overflow: hidden;
}

.modal__container{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

.modal__wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__dialog{
  background-image: var(--primary-gradient-bg);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  width: 60%;
  padding-right: 0.5em;
}

.modal__title{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.modal__buttons{
  display: flex;
  justify-content: space-evenly;
  width: 50%; 
  height: 20%;
  gap: 1em;
}

.modal__anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60%;
  border-radius: var(--radius);
  text-decoration:none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.modal__anchor:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.anchor__ok{
  background-image: var(--tertiary-gradient-bg);
  color:var(--bg-color);
}

.anchor__cancel{
  background-image: var(--danger-gradient-bg);
  color:var(--bg-color);
}

@media(max-width: 1140px){
  .modal__dialog{
    width: 95%;
    height: 50%;
  }
  .modal__anchor {
    width: 60%;
    height: 60%;
  }
}
