/* reset css */
*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  box-sizing: border-box;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
  background: none;
}
button:hover{
  cursor:pointer;
}

/* ----------------------------- */


:root {
  font-family: Roboto_Mono, Arial, Helvetica, sans-serif;

  --bg-color: #eff1f5;
  --fg-color: #4c4f69;
  --red-color: #e78284;
  --maroon-color: #ea999c; 
  --teal-color: #81c8be;
  --blue-color: #1e66f5;
  --green-color: #a6d189;
  --sapphire-color: #85c1dc;
  --grey-color: #7c7f93;
  --pink-color: #ea76cb;
  --mauve-color: #8839ef;
  --yellow-color: #e5c890;


  --crust: #dce0e8;
  --mantle: #e6e9ef;
  --primary-gradient-bg: linear-gradient(to bottom, #eff1f5, #edeff3, #eaedf2, #e8ebf0, #e6e9ef);
  --secondary-gradient-bg: linear-gradient(to bottom, #e6e9ef, #e8ebf0, #eaedf2, #edeff3, #eff1f5);
  --tertiary-gradient-bg:  linear-gradient(to right bottom, #ea76cb, #dc62d1, #c950d9, #ae42e3, #8839ef);
  --danger-gradient-bg: linear-gradient(to bottom, var(--maroon-color), var(--red-color)); 

  --radius: 0.2em;
}


[data-theme="dark"]{
  --bg-color: #24273a;
  --fg-color: #cad3f5;
  --red-color: #ed8796;
  --maroon-color: #ee99a0; 
  --green-color: #a6da95;
  --blue-color: #8aadf4;
  --sapphire-color: #7dc4e4;
  --pink-color: #f5bde6;
  --teal-color: #8bd5ca;
  --mauve-color: #c6a0f6;
  --yellow-color: #e5c890;

  --crust: #181926;
  --mantle: #1e2030;

  --primary-gradient-bg: linear-gradient(to bottom, #24273a, #212335, #1e2030, #1b1c2b, #181926);
  --secondary-gradient-bg: linear-gradient(to bottom, #181926, #1b1c2b, #1e2030, #212335, #24273a);
  --tertiary-gradient-bg:  linear-gradient(to right top, #c6a0f6, #d6a6f1, #e3adec, #edb4e9, #f5bde6);
  --danger-gradient-bg: linear-gradient(to bottom, var(--maroon-color), var(--red-color)); 
}

html,
body{
  background: var(--bg-color);
  color:var(--fg-color);
  height: 100vh;
  font-size: 1em;
  scroll-behavior: smooth;
}

a{
  color:var(--fg-color);
}
